body {
	background-image:url("midfi_back.png");
	background-repeat: no-repeat;
	font-family: "Ubuntu", sans-serif;
	overflow: hidden;
}


.clock {
	position: absolute;
	left: 24px;
	top: 168px;
	text-align: center;
	width: 247px;
	font-size: 0.8em;
	color: #4b4b4b;
}

.heavy_clock {
	font-weight: 700;
	font-size:2em;
}

.activity{
	position: absolute;
	left: 17px;
	top: 190px;
	width: 256px;
}

.section_top {
	background-color: #474747;
	color: #fff;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}

.activity_unit {
	margin-top: 5px;
	color: #fff;
	background-color: #848484;
	font-family: 'Ubuntu Condensed', sans-serif;
	display: none;
}

.activity_unit p {
	padding: 5px;
	margin: 0px;
}

.reference_unit {
	display: none;
}

.activity_top {
	background-color: #3aafef;
	font-size: 2em;
}

.activity_time {
	font-size:0.8em;
	background-color: #f3f3f3;
	color: #494536;
	font-family: "Ubuntu",sans-serif;
}

.activity_top .activity_time {
	background-color: #4ce9fa;
	font-size: 0.5em;
}

.location_slug {
	position: absolute;
	top: 477px;
	left: 304px;
	width: 775px;
}

.slug_top {
	background-color: #f6f7f7;
	color: #494949;
	font-size: 2.5em;
	font-family: 'Ubuntu Condensed', sans-serif;
	padding: 5px 10px;
}

.slug_bottom {
	background-color: #494949;
	color: #f6f7f7;
	font-size: 1.2em;
	padding: 5px 10px;
}

.right_sidebar {
	position: absolute;
	left: 803px;
	top: 26px;
	width: 216px;
}

.sidebar_head {
	background-color: #494949;
	color: #fff;
	text-align: center;
	font-family: 'Ubuntu Condensed', sans-serif;
}

canvas {
	margin: 0 auto;
	display: block;
	text-align: center;
}


.map_content {
	margin-top: 5px;
	/*background-color: #71ddfc; */
}
